html, body {
  height: 100%;
  margin: 0;
  background-color: #010002;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

footer {
  margin-top: auto;
}

h1, p, a {
  color: #700;
  margin: 10px 0;
}

.game-container {
  background-color: #afafaf;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.square-container {
  height: 650px;
  width: 650px;
  display: grid;
  gap: 1px;
}

.options {
  height: 50px;
  width: 650px;
  background-color: #fff;
  display: flex;
}

.resize {
  margin-left: auto;
}

.square {
  background-color: #ddd;
  border-radius: 2px;
  color: #fff;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}